html, body {
    margin:0;
    padding:0;
    height:100%;
}

header {
    margin: 0;
    padding: 0;
    height: 7%;
}

main {
    margin: 0;
    padding: 0;
    height: 88%;
}

footer {
    margin: 0;
    padding: 0;
    height: 5%;
}

.collapse {
    margin: 0;
    padding: 0;
    height: 100%;
}

#code_editor_tab {
    margin: 0px 5px 0px 5px; /* top right bottom left */
}

#left_middle_widget {
    margin-top: 10px;
}

#code_editor_html {
    width: 100%;
}

.tab-content, #html_content, #css_content, #javascript_content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.iframe_editor {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}