html, body {
    margin:0;
    padding:0;
    height:100%;
}

header {
    margin: 0;
    padding: 0;
    height: 7%;
}

main {
    margin: 0;
    padding: 0;
    height: 83%;
}

footer {
    margin: 0;
    padding: 0;
    height: 10%;
}

.collapse {
    margin: 0;
    padding: 0;
    height: 100%;
}

#code_editor_tab {
    margin: 0px 5px 0px 5px; /* top right bottom left */
}